.primary {
  @apply bg-blue-3 text-white-1; 
}

.size {
  @apply text-14 p-8 rounded-lg;
}

@media screen(desktop) {
  .size {
    font-size: 16px;
    padding: 12px;
    border-radius: 12px;
  }
}

.secondary {
  @apply text-gray-4 bg-white-1 border-1 border-gray-4;
}
