.primary {
  @apply bg-blue-3 text-white-1 
}

.size {
  @apply text-14 p-12 rounded-lg;

  @media screen(desktop) {
    font-size: 16px;
    padding: 16px;
    border-radius: 12px;
  }
}

.secondary {
  @apply text-blue-1 bg-white-1;
}
